/* color
    #F3641B
    #A4D0BC
    #FDE306
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*****
        common
******/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, label{
    color: #A4D0BC;
    font-size: 28px;
    font-family: Microsoft Yi Baiti;
}
strong{
    font-weight: normal;
    color: #F3641B;
    font-family: Lucida Console;
}
.phase1, .phase2, .phase3, .phase3, .phase4, .phase5, .phase6, .phase7{
    height: 100vh;
}

ul li{
    list-style-type: none;
}
ul li p:hover{
    cursor: pointer;
    color: #FDE306;
}
/*****
        fixed items
******/
.smedia{
    top: 40%;
    right: 0;
    margin-right: 5.8em;
}
.smedia a{
    display: list-item;
    list-style-type: none;
    color: #F3641B;
}
.smedia a i:hover{
    color: #A4D0BC;
}
/* .vlt {
    border-left: 1px solid #FDE306;
    height: 267px;
    right: 7.5%;
    top: 0;
}
.vlb{
    border-left: 1px solid #FDE306;
    height: 236px;
    right: 7.5%;
    bottom: 0;
} */
button{
    background-color: transparent;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px #F3641B solid;
    display: none;
    padding-bottom: 4px;
}
button:hover {
    border: 1px solid #a4d0bc;
}
button i{
    color: #F3641B;
}
button i:hover{
    color: #A4D0BC;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: 0 0 5px #F3641B;
}
/*****
        css for pahase 2 / about
******/

/*****
        css for pahase 3 / skill
******/

/*****
        css for pahase 4 / project
******/
.project .link li{
    margin-top: 2rem;
}
.link i{             /* for all included link*/
    color: #FDE306;
    margin-left: 10px;
}
.link i:hover{
    color: #A4D0BC;
}

/*****
        css for pahase 5 / experience
******/
.experience .link{
    margin-top: 9rem;
}
/*****
        css for pahase 6 / get in touch
******/
.get-in-touch input, textarea{
    background-color: transparent;
    border: #A4D0BC 1px solid;
    width: 20rem;
    resize: none;
}
.get-in-touch .post{
    color: #F3641B; 
    font-family: Microsoft Yi Baiti; 
    font-size: 24px; 
    font-weight: bold;
    padding-bottom: 5px;
}
.get-in-touch img{
    width: 10rem;
    border: #FDE306 1px solid;
    cursor: pointer;
    filter: hue-rotate(180deg);

}
.get-in-touch img:hover{
    filter: hue-rotate(0);
}
.get-in-touch .post{
    background-color: #A4D0BC;
    border: none;
    color: #0A2453;
}
.get-in-touch .post:hover{
    color: #F3641B;
}

.get-in-touch input:focus, 
textarea:focus{
    outline: none;
    box-shadow: 0 0 5px #FDE306;
}
.get-in-touch .post:focus{
    color: #F3641B;
}
.photo p{
    font-size: 18px;
}

/*****
        css for pahase 7 / footer
******/
.phase7 .contact p{
    font-size: 20px;
}

/* media query */
@media screen and (max-width: 768px) {
    .smedia{
        margin-right: 2em;
    }
    p, label{
        font-size: 18px;
    }
    .get-in-touch input, textarea{
        width: 10rem;
    }
    .phase7 .contact p{
        font-size: 14px;
    }
    .experience .link{
        margin-top: 7rem;
    }
  }
@media screen and (max-width: 992px) {
    .smedia{
        margin-right: 4em;
    }
}